@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Quicksand:wght@300;400;500;600&display=swap');

body {

    font-family: 'Quicksand', sans-serif;
    background: #F9F5EB;

}

/*TODO: INICIO DEL HEADER*/
header {

    background-color: #E4DCCF;
    height: 60px;

}

.caja {

    width: 940px;
    position: relative;
    margin: 0 auto;

}

.titulo-principal {

    position: absolute;
    top: 12px;
    left: 0px;
    color: #002B5B;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

}

.titulo-principal:first-letter {

    color: #EA5455;

}

nav {

    position: absolute;
    top: 18px;
    right: 0px;

}

nav ul {

    display: inline;
    margin-right: 0%;

}

nav li {

    display: inline;
    margin: 0 0 0 30px;

}

nav a {

    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    transition: .5s color;

}

nav a:hover {

    color: #EA5455;

}
/*FINAL DEL HEADER*/

/*TODO: INICIO DEL BANNER*/
.banner {

    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
    background-position: center;
    display: grid;
    place-items: center;
    margin-bottom: 50px;

}

.principal {

    padding: 20px;
    background: #F9F5EB;
    border-radius: .5rem;
    max-width: 40%;
    margin: 0 auto;
    box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 100px 80px rgba(0, 0, 0, 0.1);

}

.titulo-seccion {

    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #EA5455;
    margin-bottom: 20px;

}

p {

    text-align: center;
    line-height: 1.2;

}

strong {

    font-weight: bold;
    font-size: 18px;

}

#mision {

    margin-top: 20px;
    margin-bottom: 20px;

}

strong em {

    color: #002B5B;
    font-weight: bold;
    font-size: 20px;

}

/*FINAL DEL BANNER*/

/*TODO: INICIO DEL CONTENIDO*/

.diferenciales {

    background: #E4DCCF;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 900px;
    border-radius: .5rem;
    box-shadow: 4.5px 4.5px 3.6px rgba(0, 0, 0, 0.035),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
    30.1px 30.1px 24.1px rgba(0, 0, 0, 0.065),
    100px 100px 80px rgba(0, 0, 0, 0.1);

}

ul {

    /*Display: Alterar el comportamiento. Ya que las listas tienen un comportamiento Block por defecto, es decir que ocupan todo el espacio en pantalla, mientras que las imagenes tienen por defecto el comportamiento o posición Inline, que solo ocupan el espacio que tienen*/
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: 30px;

}

.contenedor-diferenciales {

    display: flex;
    justify-content: center;

}

.items {

    font-size: 18px;
    line-height: 1.3;
    list-style-type: circle;

}

.items:nth-child(5) {

    font-weight: bold;

}

table {

    margin: 40px 20px;

}

thead {

    background: #F9F5EB;
    color: #002B5B;
    font-weight: bold;

}

td, th {

    border: 1px solid #000;
    padding: 8px 8px;

}

.imagen-diferenciales {

    width: 50%;
    border-radius: .5rem;
    margin-bottom: 20px;
    transition: .5s;

}

.imagen-diferenciales:hover {

    opacity: 70%;

}
/*FINAL DEL CONTENIDO*/

/*TODO: INICIO DE LA UBICACIÓN*/
.encuentranos {

    background: #002B5B;
    padding: 30px 30px 30px 30px;

}

.encuentranos p{

    margin: 20px 20px 20px 20px;
    color: #F9F5EB;
    font-size: 18px;
    font-weight: bold;

}

.mapa-informacion {

    display: flex;
    justify-content: center;
}

.mapa {

    border-radius: .5rem;

}

.barberia-alura {

    width: 30%;
    margin-left: 50px;

}

.barberia-alura p{

    font-weight: 300;
    line-height: 1.5;
    text-align: justify;

}

.contenedor-boton {

    display: flex;
    justify-content: center;

}

.entrar-barberia-alura {

    background: #7190b3;
    color: #002B5B;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s background;

}

.entrar-barberia-alura:hover {

    background: #EA5455;

}
/*FINAL DE LA UBICACIÓN*/

/*TODO: INICIO FOOTER*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E4DCCF;
}

footer .copyright{
    text-transform: capitalize;
    font-size: 15px;
    color: #EA5455;
    padding: 1rem 0;
    margin-right: 20px;
}

footer .copyright a {
    color: #002B5B;
    text-decoration: none;
}

footer .follow {
    padding: 10px;
}

footer .follow a {

    width: 40px;
    border-radius: 50%;
    font-size: 25px;
    text-decoration: none;
    color: #7190b3;
    margin: 0 .1rem;
    text-align: center;
    transition: .5s color;
}

footer .follow a:hover {
    
    color: #EA5455;

}

footer .follow a:active {

    color: #002B5B;

}
/*FINAL FOOTER*/

/*TODO: RESPONSIVE*/

/*Nest-Hub Responsive*/
@media (max-width: 1024px) {

    .caja {

        width: auto

    }

    .principal {

        max-width: 70%;

    }

    .barberia-alura p {

        line-height: 1;

    }

    .productos li {

        width: 30%;

    }

    form {

        width: 60%;

    }

}

/*Surface Pro 7 Responsive*/
@media (max-width: 912px) {

    .diferenciales {

        width: auto;

    }

    .contenedor-productos{

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .productos li {

        width: 80%;
        margin-bottom: 50px;

    }

    form {

        width: 60%;

    }

}

/*iPad Air Responsive*/
@media (max-width: 820px) {

    .titulo-principal {

        margin-left: 20px;

    }

    nav ul {

        margin-right: 20px;

    }

    .diferenciales {

        width: auto;
        border-radius: 0%;

    }

    .contenedor-diferenciales {

        display: flex;
        flex-direction: column;

    }

    ul {

        width: 100%;

    }

    .contenedor-ul {

        display: flex;
        justify-content: center;

    }

    .imagen-diferenciales {

        width: 100%;

    }

    .mapa-informacion {

        width: 100%;

    }

    .mapa {

        width: 50%;

    }

    .barberia-alura {

        width: 50%;

    }

}

/*iPad Mini Responsive*/
@media (max-width: 768px) {

    header {

        height: 125px;
        vertical-align: super;

    }

    .titulo-principal {

        position: absolute;
        margin: 27px 20px 20px 20px;
    
    }
    
    nav ul {

        display: flex;
        flex-direction: column;
        margin-right: 20px;

    }

    .mapa {

        margin-top: 20px;
        margin-bottom: 40px;

    }

        form {

        width: 70%;
        border-radius: 0%;

    }

}

/*Surface Duo Responsive*/
@media (max-width: 540px) {

    .contenedor-items {

        margin-left: 20px;

    }

    .mapa-informacion {

        flex-direction: column;

    }

    .mapa {

        width: 100%;

    }

    .barberia-alura {

        width: auto;
        margin-left: 0%;

    }


}

/*iPhone XR Responsive*/
@media (max-width: 414px) {

    .titulo-principal {

        position: absolute;
        margin: 35px 20px 0px 20px;
        margin-left: 0%;
    
    }
    
    nav ul {

        display: flex;
        flex-direction: column;
        margin-right: 0%;

    }

    .principal {

        max-width: 100%;
        border-radius: 0%;

    }

    .contenedor-ul {

        flex-direction: column;
        align-items: center;

    }

    .contenedor-items {

        margin-left: 20px;

    }

    .productos li {

        width: auto;

    }

}

/*Samsung Galaxy S8+ Responsive*/
@media (max-width: 360px) {

    header {

        height: 110px;

    }

    .contenedor-titulo {

        position: absolute;

    }

    .titulo-principal {

        font-size: 26px;
        margin: 10px;

    }

    nav a {

        font-size: 17px;
        margin-right: 10px;

    }

    .barberia-alura p {

        margin: 0px 0px 20px 0px;

    }

}

/*Galaxy Fold Responsive*/
@media (max-width: 280px) {

    .mapa {

        height: 200px;

    }

}

